{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <div class="sheet-list">
    <h1 class="page-title">Data</h1>

    {{#each sheets}}
    <div class="list-item clearfix">
      <div class="list-item-info">
        <a href="/sheets/view/{{ id }}">
          <h3 class="list-item-name">{{ name }}</h3>
          <div class="list-item-description">{{ description }}</div>
        </a>
      </div>
      
      <div class="list-item-actions">
        <a href="/sheets/edit/{{ id }}" class="button small">Edit sheet</a>
        <a href="/api/v2/sheets/{{ id }}" class="button small">API</a>
      </div>
    </div>
    {{/each }}
  </div>

</div>

<script src="/public/sheet-list.js"></script>

{{/replace}}

{{/extend}}
